<ng-container *ngIf="reviews" class="table-center">
    <table>
        <thead>
            <tr>
                <th>Movie Title </th>
                <th>Rating </th>
                <th> Review </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let review of reviews'>
                <td>{{ review?.movieTitle }}</td>
                <td>{{ review?.rating }}</td>
                <td>{{ review?.review }}</td>
            </tr>
        </tbody>
    </table>
</ng-container>